body {
    font: 12px "Helvetica Neue", "Helvetica", sans-serif;
    background: #000 url(../images/mozilla-tab.png) no-repeat right top;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 40px;
}

.container {
    width: 810px;
    background: #fff;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px 1%;
}

header {
    margin-bottom: 5px;
    border-bottom: 1px solid #000;
}

.main-content {
    overflow: hidden;
}

ul {
    overflow: hidden;
    margin: 0;
    padding: 15px;
}

li {
    position: relative;
    float: left;
    width: 30%;
    list-style: none;
    border: 10px solid #fff;
    margin: 0 4% 4% 0;
    padding: 0;
    -moz-box-shadow: 0 0 10px 2px #000;
    -webkit-box-shadow: 0 0 10px 2px #000;
    -o-box-shadow: 0 0 10px 2px #000;
    -ms-box-shadow: 0 0 10px 2px #000;
    box-shadow: 0 0 10px 2px #aaa;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

li:nth-child(3n) {
    margin-right: 0;
}

li img {
    float: left;
    width: 100%;
}

li span {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    padding: 5px;
    color: #fff;
    background: #000;
    opacity: 0.7;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.page-footer {
    border-top: 1px solid #000;
    margin-top: 30px;
    padding-top: 10px;
}

@media screen and (max-width: 800px) {
	.container {
		width: 90%;
        margin-top: 50px;
	}

    li {
       width: 46%; 
    }

    li,
    li:nth-child(3n) {
        margin: 0 8% 8% 0;
    }

    li:nth-child(even) {
        margin-right: 0;
    }
}
