body {
    font: 12px "Helvetica Neue", "Helvetica", sans-serif;
    background: #ccc;
}

.container {
    width: 800px;
    background: #fff;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
}

.page-footer {
    border-top: 1px solid #000;
    margin-top: 30px;
    padding-top: 10px;
}
