/* General font styles */
html {
	font: 100%/1.3 Verdana, Helvetica, Arial, sans-serif;
    height: 100%;
}

body {
	font: 70%/1.3 Verdana, Helvetica, Arial, sans-serif;
}

h1 {
	font: bold 2em Arial, sans-serif;
}
                       
h2 {                     
	font: bold 1.5em Arial, sans-serif;
}
                       
h3 {                     
	font: bold 1.25em Arial, sans-serif;
}
                       
h4 {                     
	font: bold 1.1em Arial, sans-serif;
}

/* Default resetting */
html, body, form, fieldset, legend, dt, dd {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
	margin: 0 0 1em;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}

h2 {
    margin-top: 20px;
}

pre {
	font-size: 1.5em;
}

li, dd {
	margin-left: 1.5em;
}

img {
    border: none;
	vertical-align: middle;
}

/* Basic element styles */
a {
	color: #000;
}

a:hover {
	text-decoration: underline;
}

html {
	color: #000;
	min-height: 100%;	
}

body {
    min-height: 100%;
    background-image: -moz-linear-gradient(top, #ccc, #fff);
    background-image: -webkit-linear-gradient(top, #ccc, #fff);
    padding-top: 20px;
}


body {
	margin-bottom: 30px;
}

ul {
    margin: 10px 0;
}


/* Structure */
.container {
    width: 560px;
	min-height: 600px;
	background: #fff;
	border: 1px solid #ccc;
	border-top: none;
	margin: 0 auto;
	padding: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 10px #000;
	-webkit-box-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 10px #000;
}

/* Responsive */
@media screen and (max-width: 640px) {
    .container {
        min-width: 80%;
        max-width: 80%;
        width: 80%;
        border-width: 0;
    }
}


button {
    display: block;
    margin-bottom: 20px;
}

#battery-supported {
    color: #f00;
}

.footer {
    border-top: 1px solid #000;
    margin-top: 30px;
    padding-top: 10px;
}
